* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* Navbar Container */
.navbar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    height: 80px;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
}



/* Nav Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #37474F;
    position: relative;
}

/* Active underline */
.nav-links li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #00a651;
    /* green underline */
}

.nav-links li a:hover {
    color: #000;
}

/* Button */
.btn {
    background: #0B2A67;
    color: #fff;
    padding: 8px 24px;
    border-radius: 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
}

.btn2 {
    border: 1px solid #FFFFFF;
    color: #fff;
    padding: 8px 24px;
    border-radius: 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
    box-shadow: 0px 4px 6px 0px #0000001A;
}

.btn:hover {
    background: #0c3d90;
}


#spotlight .wrapper {
    background: url(../images/spotlight.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    padding: 0 100px;

}

#spotlight .spot-content {
    width: 70%;
    padding-top: 80px;
}

#spotlight h3 {
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    margin-bottom: 14px;
}

#spotlight h3 span {
    color: #0CBA4C;
}

#spotlight p {
    color: #ECEAE8;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}


#why {
    padding: 50px 0;
}

#why h5 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

#why .why-list {
    display: flex;
    gap: 20px;
    justify-content: end;
}

#why .why-list .why-card {
    cursor: pointer;
    background-color: #C2E6F2;
    border-radius: 16px 6px 16px 16px;
    width: 300px;
    padding: 30px;
    padding-top: 60px;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    transition: .3s ease-in-out;
}

#why .why-list .why-card:hover {
    transform: scale(1.03);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: #96cfe2;

}

#why .why-list .why-card h4 {
    font-size: 22px;
    font-weight: 600;
    color: #0B2A67;
    margin-bottom: 30px;
}

#why .why-list .why-card img {
    width: 60px;
    margin-bottom: 30px;
}

#why .why-list .why-card p {
    color: #0B2A67E5;
    font-size: 16px;
    font-weight: 400;
}

#why .why-list .why-card p span {
    font-weight: 600;
}


#services {
    background: #F4F7FC;
    padding: 80px 0;
    position: relative;
}

#services .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#services .service_content {
    width: 45%;
}

#services .service_content h4 {
    color: #0367A1E5;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 34px;
}

#services .service_content h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    margin-bottom: 24px;
}

#services .service_content p {
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

#services .services-image {
    width: 50%;
    position: relative;
    z-index: 55;
}

#services .services-image .service-img {
    width: 100%;
}

#services .services-image .service-img img {
    width: 100%;
    display: block;
}

.service-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -100px;
}

.service-card {
    background-color: #fff;
    border-radius: 16px;
    width: 45%;
    padding: 50px 30px;
    position: relative;
    z-index: 99;
}

.service-card h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: #000;
    margin-bottom: 30px;
}

.service-card h5 {
    font-weight: 600;
    font-size: 16px;
    color: #0B2A67E5;
    margin-bottom: 16px;
}

.service-card h5 img {
    margin-right: 6px;
}



.service-card p {
    color: #4D4D4DE5;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.service-card p.service-p {
    margin-bottom: 0;
}

#services .service-mesh {
    width: 26%;
    position: absolute;
    right: 10px;
    bottom: -130px;
    opacity: .2;
    z-index: 4;
}

#services .service-mesh img {
    width: 100%;
    display: block;
}


#casestudy {
    padding: 80px 0;
}

#casestudy .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#casestudy .case-img {
    width: 45%;
}

#casestudy .case-img img {
    width: 100%;
    display: block;
}

#casestudy .case-content {
    width: 40%;
}

#casestudy .case-content h4 {
    color: #0367A1E5;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 34px;
}

#casestudy .case-content h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    margin-bottom: 24px;
}

#casestudy .case-content p {
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}



#certification {
    position: relative;
    padding: 40px 0;
}

#certification h4 {
    color: #0367A1E5;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}

#certification h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    margin-bottom: 50px;
}

#certification .iso-list {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#certification .iso-list .iso-card {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
    gap: 20px;
}

#certification .iso-list .iso-card .iso-img {
    width: 100px;
}


#certification .iso-list .iso-card .iso-img img {
    width: 100%;
    display: block;
}

#certification .iso-list .iso-card .iso-content {
    width: 100%;
    box-shadow: 0px 4px 8px 0px #00000014;
    padding: 50px;
    border-radius: 16px;
}

#certification .iso-list .iso-card .iso-content h6 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #0B2A67;
}

#certification .iso-list .iso-card .iso-content p {
    font-size: 24px;
    font-weight: 400;
    color: #0B2A67E5;
}

#certification .certi-mesh {
    width: 150px;
    position: absolute;
    right: 0;
    bottom: 60px;
}

#certification .certi-mesh img {
    width: 100%;
    display: block;
}


#blog {
    padding: 50px 0;
    background: #0B2A67;
    position: relative;
}

#blog .blog-vec {
    width: 300px;
    position: absolute;
    right: 200px;
    top: 50px;
}

#blog .blog-vec img {
    width: 100%;
    display: block;
}

#blog h4 {
    color: #0CBA4C;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}

#blog h2 {
    font-size: 30px;
    font-weight: 500;
    color: #E0E0E0;
    margin-bottom: 50px;
}

#blog .blog-list {
    display: flex;
    gap: 20px;
}

#blog .blog-list .blog-card {
    width: 30%;
    position: relative;
    z-index: 2;

}

#blog .blog-list .blog-card .blog-img img {
    width: 100%;
    display: block;
    height: 300px;
}

#blog .blog-list .blog-card .blog-content {
    width: 90%;
    border-radius: 16px;
    padding: 56px 30px;
    background: #fff;
    box-shadow: 0px 4px 8px 0px #00000014;
    margin-top: -80px;
    position: relative;
    z-index: 99;
    height: 360px;
}

#blog .blog-list .blog-card .blog-content h6 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-bottom: 24px;
}

#blog .blog-list .blog-card .blog-content p {
    color: #4D4D4DE5;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;

}

#blog .blog-list .blog-card .blog-content .button a {
    color: #0CBA4C;
    display: inline-block;
    text-decoration: none;
}




#sustainability .wrapper {
    display: flex;

}

#sustainability .sust-left {
    width: 25%;
    padding: 50px 0;

}

#sustainability .sust-left .letters .dara {
    left: 25%;
    position: absolute;
}

#sustainability .sust-left .letters {
    background: #D9D9D9B2;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
}

#sustainability .sust-left .letters h5 {
    font-weight: 600;
    font-size: 56px;
    color: #0B2A67;
}

#sustainability .sust-left p {
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000CC;
    margin-bottom: 50px;
}

#sustainability .gradient {
    background: linear-gradient(271.38deg, rgba(245, 245, 245, 0) 43.46%, #C2E6F2 98.99%);
    width: 20%;
    height: auto;
}

#sustainability .sust-content {
    padding: 50px 0;
    width: 60%;
    position: relative;

}

#sustainability .sust-content .content-box {
    width: 60%;
}

#sustainability .sust-content .content-box h4 {
    color: #0367A1E5;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 34px;
}

#sustainability .sust-content .content-box h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    margin-bottom: 24px;
}

#sustainability .sust-content .content-box p {
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

#sustainability .sust-content .sus-imgvector {
    width: 80px;
    position: absolute;
    right: 130px;
    top: 180px;
}

#sustainability .sust-content .sus-imgvector img {
    display: block;
    width: 100%;
}

#sustainability .sust-content .sus-imgbox {
    width: 350px;
    position: absolute;
    right: 80px;
    bottom: 200px;
}

#sustainability .sust-content .sus-imgbox img {
    display: block;
    width: 100%;
}

footer {
    background: url(../images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    height: 500px;
    position: relative;
    padding-top: 80px;

}

footer .footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;

}

footer .footer-right .footer-top {
    width: 30%;
    margin-bottom: 60px;
}

footer .footer-right .footer-top img {
    width: 200px;
    margin-bottom: 20px;
}

footer .footer-right .footer-top p {
    font-size: 18px;
    font-weight: 400;
    color: #D4D0CC;
    line-height: 32px;
}

footer .footer-right .bottom-img {
    width: 400px;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer .footer-right .bottom-img img {
    width: 100%;
    display: block;
}

footer .footer-right .footer-nav {
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    border-bottom: 0.5px solid #FAFAFA;
    padding-bottom: 16px;

}

footer .footer-right .footer-nav li {
    font-size: 18px;
    font-weight: 500;
    color: #FAFAFA;
}

footer .footer-right .social {
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    margin-top: 50px;
}

footer .footer-right .social li {
    width: 20px;
}

footer .footer-right .social li img {
    width: 100%;
    display: block;
}

.menu {
    width: 30px;
    display: none;
    cursor: pointer;
}

body.menu-active {
    overflow: hidden;
}


.mobile {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 99;
}

.mobile p {
    text-align: right;
    font-size: 26px;
    font-weight: 600;
}

.mobile.active {
    right: 0;
}


.mobile .mobile-links {
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
}

.mobile .mobile-links li {
    list-style: none;
    margin-bottom: 16px;

}

.mobile .mobile-links li a {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: #000;
}


@media (max-width: 1100px) {
    .nav-links {
        display: none;
    }

    .header-bt {
        display: none;
    }

    .menu {
        display: block;
    }

    #blog .blog-list {
        flex-wrap: wrap;
    }

    #blog .blog-list .blog-card {
        width: 40%;
    }
}

@media (max-width: 1000px) {
    #spotlight .spot-content {
        width: 100%;
    }

    #services .wrapper {
        flex-direction: column;
    }

    #services .service_content,
    #services .services-image {
        width: 100%;
    }

    #why .why-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    #why .why-list .why-card {
        width: 370px;
    }

    #sustainability .sust-content .sus-imgbox {
        right: -30px;
    }

    #sustainability .sust-content .sus-imgvector {
        right: 0;
    }
}

@media (max-width: 900px) {
    #sustainability .wrapper {
        flex-direction: column;
    }

    #sustainability .sust-left {
        margin: 0 auto;
    }

    #sustainability .gradient {
        display: none;
    }

    #sustainability .sust-content {
        width: 100%;
    }

    #sustainability .sust-content .sus-imgbox {
        bottom: 0;
    }

    #sustainability .sust-content .sus-imgvector {
        top: 0;
    }
}

@media (max-width: 800px) {
    #casestudy .wrapper {
        flex-direction: column;
    }

    #casestudy .case-img {
        width: 70%;
    }

    #casestudy .case-content {
        width: 100%;
    }

    #certification .iso-list {
        width: 100%;
    }

    #blog .blog-list .blog-card {
        width: 80%;
    }

    #blog .blog-list .blog-card .blog-content {
        height: 300px;
    }

    #why .why-list {
        gap: 50px;
    }

    #spotlight .wrapper {
        padding: 0 40px;
    }

    #spotlight h3 {
        font-size: 26px;
    }

    #spotlight p {
        font-size: 16px;
    }
}

@media (max-width: 650px) {
    footer .footer-right {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    footer .footer-right .footer-nav {
        display: grid;
        border-bottom: none;
        gap: 20px;
        width: 40%;
    }

    footer .footer-right .footer-top {
        width: 50%;
    }

    footer .footer-right .social {
        margin-top: 10px;
    }

    footer .footer-right .bottom-img {
        width: 260px;
    }

    .spot-buttons {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        gap: 20px;
    }

    #blog .blog-list .blog-card,
    #sustainability .sust-content .content-box {
        width: 100%;
    }

    #sustainability .sust-content .sus-imgbox,
    #sustainability .sust-content .sus-imgvector {
        display: none;
    }

    #sustainability .sust-left {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .service-cards {
        flex-direction: column;
        margin-top: 30px;
    }

    .service-card {
        width: 100%;
    }

    #spotlight .wrapper {
        height: 80vh;
    }

    #certification .iso-list .iso-card {
        flex-direction: column;
    }

    #certification .certi-mesh {
        display: none;
    }

    #certification .iso-list .iso-card .iso-content {
        padding: 30px;
    }

    #certification .iso-list .iso-card .iso-content h6,
    #certification .iso-list .iso-card .iso-content p {
        font-size: 20px;
    }

    #services .service-mesh {
        bottom: -44px;
    }

    #blog .blog-list .blog-card .blog-content {
        width: 100%;
    }
}

@media (max-width: 400px) {

    #spotlight h3,
    #why .why-list .why-card h4 {
        font-size: 20px;
    }

    #spotlight p {
        font-size: 16px;
    }

    .spot-buttons {
        width: 85%;
    }

    .btn {
        font-size: 12px;
    }

    #why h5 img {
        width: 200px;
    }

    #why .why-list .why-card p {
        font-size: 14px;
    }

    #services .service_content h4,
    #casestudy .case-content h4,
    #certification h4,
    #blog h4,
    #sustainability .sust-content .content-box h4,
    #blog .blog-list .blog-card .blog-content h6,
    .service-card h3 {
        font-size: 18px;
    }

    #sustainability .sust-content .content-box h2,
    #blog h2,
    #certification h2,
    #casestudy .case-content h2,
    #services .service_content h2 {
        font-size: 22px;
    }

    #sustainability .sust-left .letters h5 {
        font-size: 30px;
    }

    #sustainability .sust-left p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #sustainability .sust-left .letters {
        width: 60px;
        height: 60px;
    }

    footer .footer-right .footer-nav li,
    footer .footer-right .footer-top p {
        font-size: 16px;
    }

    footer .footer-right .footer-top img {
        width: 150px;
        margin-top: 20px;
    }

    footer .footer-right .bottom-img {
        width: 200px;
    }
}